<div class="footer">
    <a href="https://www.flaticon.com/free-icons/calendar" title="calendar icons">Calendar icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/work" title="work icons">Work icons created by srip - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/add" title="add icons">Add icons created by Pixel perfect - Flaticon</a>
</div>
</html>