<div class="footer">
    <a href="https://www.flaticon.com/free-icons/home" title="home icons">Home icons created by Dave Gandy - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/office" title="office icons">Office icons created by Creative Stall Premium - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/add" title="add icons">Add icons created by Pixel perfect - Flaticon</a>
</div>