<%- include("partials/header.ejs") %>
<div class="main">
    <div class="header-title">
        <h1>Private List</h1>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." id="flexCheck">
          <label class="form-check-label" for="flexCheck">First checkbox</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." id="flexCheck">
          <label class="form-check-label" for="flexCheck">Second checkbox</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." id="flexCheck">
          <label class="form-check-label" for="flexCheck">Third checkbox</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." id="flexCheck">
          <label class="form-check-label" for="flexCheck">Fourth checkbox</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." id="flexCheck">
          <label class="form-check-label" for="flexCheck">Fifth checkbox</label>
        </li>
      </ul>
</div>
<%- include("partials/footer.ejs") %>