<%- include("partials/header.ejs") %>
<div class="main">
    <div class="list-group" id="heading">
        <h1>ToDo List</h1>
    </div>
    <ul class="list-group">
        <% if(locals.taskList){ %>
          <% taskList.forEach((task) => { %>
            <form action="/delete" method="POST">
              <div class="list-group-item">
                <input class="form-check-input" type="checkbox" name="checkbox" value=<%=task._id%> onChange="this.form.submit()">
                <label class="form-check-label" for="flexCheck"><%= task.name %></label>
              </div>
            </form>
          <% })} %>
        <div class="list-group-item add-item">
          <form class="add-task-form" action="/" method="POST">
            <input type="input" name="task" placeholder="New Task" autocomplete="off">
            <button class="btn-add-icon" type="submit" name="submit">+</button>
          </form>
        </div>
      </ul>
</div>
<%- include("partials/footer.ejs") %>