<%- include("partials/header.ejs") %>
<div class="main">
    <div class="list-group" id="heading">
        <h1>Private List</h1>
    </div>
    <ul class="list-group">
        <% if(locals.privateTaskList){ %>
          <% privateTaskList.forEach((element) => { %>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." id="flexCheck">
              <label class="form-check-label" for="flexCheck"><%= element %></label>
            </li>
          <% })} %>
        <li class="list-group-item add-item">
          <form class="add-task-form" action="/" method="POST"%>>
            <input type="input" name="task" placeholder="New Task" autocomplete="off">
            <button class="btn-add-icon" type="submit" name="submit">+</button>
          </form>
        </li>
      </ul>
</div>
<%- include("partials/footer.ejs") %>