:root {
    /* Colors */
    --white: #F6F4EB;
    --light-blue: #4FC3F7;
    --dark-gray: #333333;
    --indigo: #303F9F;
    --orange: #FF6D00;
}

body{
    background-color: var(--light-blue);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-gray);
    margin: 2em;
}

.label-icon {
    width: 18px;
    position: relative;
    top: -2px;
    right: 4px;
    filter: invert(14%) sepia(99%) saturate(1%) hue-rotate(328deg) brightness(95%) contrast(88%);
}

.navigation-bar a{
    color: var(--dark-gray); 
    padding: 1em;
    text-decoration: none;
}

.list-group {
    max-width: 400px;
    margin: 1em auto;
}

#heading {
    background-color: var(--indigo);
    color: var(--white);
    padding: 1em;
    border: solid var(--indigo);
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
}

.list-group-item.add-item {
    padding-top: 0px;
}

label.form-check-label {
    padding-left: 0.8rem; 
}

input[type=checkbox]:checked {
    background-color: var(--indigo);
}

input[type=checkbox]:checked + label.form-check-label {
    text-decoration: line-through var(--indigo) 2px;
    user-select: none;
}

.add-task-form input {
    border: transparent solid 2px;
    padding-top: 10px;
}

.add-task-form input:focus {
    outline-width: 0;
    border-bottom: var(--indigo) solid 2px;
    text-align: center;
}

.btn-add-icon {
    min-height: 30px;
    width: 30px;
    border-radius: 50%;
    border-color: transparent;
    background-color: var(--orange);
    font-size: 20px;
    border-width: 0;
    color: var(--white);
}

::placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 10; /* Firefox */
    text-align: center;
  }

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer p {
    text-align: center;
}

.footer a {
    font-size: 10px;
}

@media (max-width: 700px) {

    input {
        width: 85%;
    }
}
